@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: #23527c;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  width: 900px;
  margin: auto;
  padding: 40px;
}

h1, h2, h3, em {
  font-family: "Roboto Slab", serif;
}

h1, h2 {
  display: inline-block;
  font-style: italic;
  color: #b00;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

header {
  font-size: 0;
  /* remove white space between inline blocks */
  margin-bottom: 1rem;
  line-height: 1.5;
}

#title {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 1rem;
}

.info {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.1rem;
}

#social-info {
  display: inline-block;
  margin-left: 5%;
}

#contact-info {
  float: right;
  text-align: right;
}

section {
  border-top: 1px solid #ddd;
  padding: 0.8rem 0;
}
section:after {
  content: "";
  display: table;
  clear: both;
}

.col-left {
  float: left;
  width: 20%;
}

.col-right {
  float: right;
  width: 80%;
}
.col-right > li {
  margin-top: 0.6rem;
}
.col-right > li:first-child {
  margin: 0;
}

.text-right {
  float: right;
}

.list {
  margin-left: 17px;
  list-style: disc;
}
.list li {
  margin-top: 0.3rem;
}

ul.skills {
  float: left;
  width: 50%;
}
ul.skills li {
  margin-top: 0.4rem;
}
ul.skills li:first-child {
  margin-top: 0;
}
