@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);

body {
    max-width: 700px;
    margin: auto;
    padding: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #333;
}

a {
    color: #337ab7;
    text-decoration: none;
    &:hover {
        color: #23527c;
    }
}

li {
    margin: 5px 0;
}